header{
  width: 100%;
  min-height: 100rem;
    
  /*================================== NAV ==================================*/
    nav{
    @include tamanho_caixas();
    height: 8rem;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 1rem;

      ul{
        @include alinhamentos_hori();
        list-style: none;
        gap:4rem;
         a:nth-child(1){
          color: var(--cor-destaque-principal);
        }
        a{
          color: var(--cor-textos);
          font-size: 1.4rem;
          text-decoration: none;
        }
      }
    h3{
      text-transform: uppercase;
      color: var(--cor-destaque-secundario);
      font-size: 3rem;
      line-height: 3rem;
        span{
        color: var(--cor-destaque-principal);
      }
    }
    .sign{
      display: flex;
      align-items: center;
      gap:2.4rem ;
      p{
        color: (--cor-destaque-principal);
        font-size: 1.4rem;
      }
      button{
        font-family: Poppins;
        border: none;
        color: white;
        width: 12.8rem;
        height: 4.6rem;
        background: var(--cor-destaque-principal);
        box-shadow: 0px 16px 60px rgba(251, 98, 90, 0.35);
        border-radius: 26px;
        border: 0.2rem solid var(--cor-destaque-principal);
        transition: all 0.3s ease-in-out;
      }
      button:hover{
        background: none;
        border: 0.2rem solid var(--cor-destaque-principal);
        box-shadow: none;
        border-radius: 2.6rem;
        color: var(--cor-destaque-principal);
       
      }
    }

    }
    /*==================================  End NAV ==================================*/

    /*================================== Section header ==================================*/
    .container{

      @include tamanho_caixas();
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap:5rem;
      margin-top: 1rem;

      .content{
        width: 50rem;


        h1{
          font-family: 'Ubuntu', sans-serif;
          font-size: 6rem;
          line-height: 7.6rem;
          letter-spacing: 0.005em;
          margin-bottom:2.8rem ;
          color:var(--cor-destaque-secundario);


          span{
            color:var(--cor-destaque-principal);
          } 
        }

        p{
          color: var(--cor-textos);
          font-size: 2rem;
          line-height: 3.6rem;
          letter-spacing: 0.005em;
          margin-bottom:4.8rem ;
        }

        .botoes{
          display: flex;
          gap:3.2rem;

          button:nth-child(1){
            font-family: Poppins;
            font-size: 1.5rem;
            border: none;
            color: white;
            width: 22rem;
            height: 5.2rem;
            background: var(--cor-destaque-principal);
            box-shadow: 0px 16px 60px rgba(251, 98, 90, 0.35);
            border-radius: 2.6rem;
            border: 0.2rem solid var(--cor-destaque-principal);
            transition: all 0.3s ease-in-out;
          }
          button:nth-child(1):hover{
            background: none;
            border: 0.2rem solid var(--cor-destaque-principal);
            box-shadow: none;
            border-radius: 2.6rem;
            color: var(--cor-destaque-principal);
          }
          button:nth-child(2){
            font-family: Poppins;
            font-size: 1.5rem;
            background: none;
            width: 20.3rem;
            height: 5.2;
            border: 0.2rem solid var(--cor-destaque-principal);
            filter: drop-shadow(0px 0px 20px rgba(255, 119, 26, 0.2));
            border-radius: 2.6rem;
            color: var(--cor-destaque-principal);
            transition: all 0.3s ease-in-out;
            i{
              margin-right: 1.5rem;
            }
          }
          button:nth-child(2):hover{
            background: var(--cor-destaque-principal);
            color:white;
            box-shadow: 0px 16px 60px rgba(251, 98, 90, 0.35);
          }
        }
      }
      
      picture img{
        width: 70rem;
      }
    }
    .container-box{

      min-height: 43rem;
      @include tamanho_caixas();
    @include alinhamentos_hori();
   
      gap:3rem;
    .box{
      width: 36rem;
      min-height: 26.6rem;
      background: #145d6707;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin:0;
      padding: 0;
      
      .content-box{
        @include alinhamentos_hori();
        flex-direction: column;
        h3{
          font-size: 2.8rem;
          color: var(--cor-destaque-secundario);
        }
        p{
          font-size: 1.8rem;
          text-align: center;
          width: 32rem;
          color: var(--cor-textos);
        }
        img{
          margin-bottom: 3.2rem;
        }
        
      }
    }
    .box:nth-child(2){
      background: White;
      box-shadow: 0px 40px 150px -20px rgba(20, 94, 103, 0.18);
      h3{
        color:var(--cor-destaque-principal);
      }
    }
  }
}
